Flask==0.10.1
Flask-Assets==0.10
Jinja2==2.7.3
Markdown==2.5.2
MarkupSafe==0.23
Werkzeug==0.9.6
-e git+https://bitbucket.org/enertiv/api_client.git#egg=api_client
gunicorn==19.1.1
itsdangerous==0.24
requests==2.5.1
webassets==0.10.1
wsgiref==0.1.2
