/* dc.js changes */
/* line 2, ../../sass/sass/screen.scss */
.dc-chart .pie-slice {
  fill: black;
  cursor: pointer;
}

/* line 7, ../../sass/sass/screen.scss */
.dc-chart g.row text {
  fill: black;
  cursor: pointer;
}

@media (min-width: 1441px) {
  /* line 26, ../../sass/sass/screen.scss */
  .dc-chart .pie-slice {
    font-size: 0.65vw;
  }
  /* line 30, ../../sass/sass/screen.scss */
  .dc-chart .axis text {
    font: 0.4vw sans-serif;
  }
  /* line 34, ../../sass/sass/screen.scss */
  .dc-chart g.row text {
    font-size: 0.65vw;
  }
}
@media (max-width: 991px) {
  /* line 42, ../../sass/sass/screen.scss */
  .dc-chart .pie-slice {
    font-size: 1vw;
  }
  /* line 46, ../../sass/sass/screen.scss */
  .dc-chart .axis text {
    font: 1vw sans-serif;
  }
  /* line 50, ../../sass/sass/screen.scss */
  .dc-chart g.row text {
    font-size: 1vw;
  }
}
@media (max-width: 760px) {
  /* line 58, ../../sass/sass/screen.scss */
  .dc-chart .pie-slice {
    font-size: 1.4vw;
  }
  /* line 62, ../../sass/sass/screen.scss */
  .dc-chart .axis text {
    font: 1.4vw sans-serif;
  }
  /* line 66, ../../sass/sass/screen.scss */
  .dc-chart g.row text {
    font-size: 1.4vw;
  }
}
@media (max-width: 480px) {
  /* line 74, ../../sass/sass/screen.scss */
  .dc-chart .pie-slice {
    font-size: 1.8vw;
  }
  /* line 78, ../../sass/sass/screen.scss */
  .dc-chart .axis text {
    font: 1.8vw sans-serif;
  }
  /* line 82, ../../sass/sass/screen.scss */
  .dc-chart g.row text {
    font-size: 1.8vw;
  }
}
/* line 92, ../../sass/sass/screen.scss */
.dc-chart .heatmap .box-group.selected rect:hover, .dc-chart .heatmap .box-group rect:hover {
  fill-opacity: 0.6;
}

/* line 96, ../../sass/sass/screen.scss */
#noHover .dc-chart .heatmap .box-group.selected rect:hover, #noHover .dc-chart .heatmap .box-group rect:hover {
  fill-opacity: 1;
}
