<html>
	<head>
	<title>Enertiv</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/d3.v3.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/basicTree.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/crossfilter.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/dc.js') }}"></script>	
		<script type="text/javascript" src="{{ url_for('static', filename='js/d3magic.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/moment.js') }}"></script>
    	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	 	<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.quickfit.js') }}"></script>

		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/lib/bootstrap.min.css') }}">
    	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/lib/dc.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/basic.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/sass/screen.css') }}">

		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-ui.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.comiseo.daterangepicker.js') }}"></script>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/jquery-ui.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/jquery.comiseo.daterangepicker.css') }}">
	</head>
	<body>

		<nav class="navbar navbar-default">
		  	<div class="container-fluid">
		    	<div class="navbar-header">
		      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</button>
			     	<a class="navbar-brand" href="#">
			      		<img src="/static/img/enertiv-logo.png" style="margin-top: -2px;" width="76" height="24"/>
			      	</a>
		    	</div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      	<ul class="nav navbar-nav">
				    	<li class="dropdown">
			          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="clientDrop" role="button" aria-expanded="false">Change Client<span class="caret"></span></a>
					        <ul class="dropdown-menu nav-drop" id="client-dropdown" role="menu">
					        </ul>
			        	</li>
			        	<li class="dropdown">
			          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="locationDrop" role="button" aria-expanded="false">Change Location<span class="caret"></span></a>
					        <ul class="dropdown-menu nav-drop" id="location-dropdown" role="menu">
					        </ul>
				   	 	</li>
			      	</ul>
			    </div>
			</div>
		</nav>

		<ul class="list-group" id="filtered">
		    <h5 id="filteredText">What you have filtered</h5>
			<li class="list-group-item"><span id="sublocationNav"></span></li>
			<li class="list-group-item"><span id="equipmentNav"></span></li>
			<li class="list-group-item"><span id="dayNav"></span></li>
			<li class="list-group-item"><span id="hourTypeNav"></span></li>
		</ul>

		<div class="container">
			<div class="well center" id="well">
				<div>
					<h2>Usage for <span id="clientName"></span>: <span id="locationName"></span></h2>
					<h3><span id="fromTime"></span><span id="toTime"></span></h3>

					<input id="e1" name="e1">

				</div>

              	<div id="rButton">
              		<a class="reset btn-geckoboard btn-outline btn-lg" href="javascript:dc.filterAll(); dc.redrawAll();">reset</a>
              	</div>

              	<div id="summaryText">
              		<span id="summaryTextA"></span>
              		<span id="summaryTextB"></span>
              	</div>

              	<div id="selectedText">
              		<span id="summaryText1"></span>
              		<span id="summaryText2"></span>
              	</div>

				<!-- <div id="stats">
	              	<h4>What you have filtered</h4>
	              	<div class="btn-group btn-breadcrumb" id="navigationText">
		  	            <a href="#" class="btn btn-default" id="sublocationNav"></a>
			            <a href="#" class="btn btn-default" id="equipmentNav"></a>
			            <a href="#" class="btn btn-default" id="dayNav"></a>
			            <a href="#" class="btn btn-default" id="hourTypeNav"></a>
	              	</div>
              	</div> -->

              	<div id="legend">
	              	<svg width="20" height="20">
						<rect x="0" y="0" width="50" height="50" fill="#0b50c2"/>
					</svg>
					<span class="legendText">Working hours</span>
					<svg width="20" height="20">
						<rect x="0" y="0" width="50" height="50" fill="#0092cc"/>
					</svg>
					<span class="legendText">Semi-working hours</span>
					<svg width="20" height="20">
						<rect x="0" y="0" width="50" height="50" fill="#00b4b5"/>
					</svg>
					<span class="legendText last">Off hours</span>
              	</div>

				<div class="sameLineBarChart">
					<div id="roomBarChart">
						<h4>Locations</h4>
					</div>

					<div id="equipBarChart">
						<h4>Equipment types</h4>
					</div>
				</div>
				
				<div class="sameLine">
					<div id="occupancyPieChart">
						<h4 id="typeOfHour">Type of hour</h4>
					</div>

					<div id="dayRowChart">
						<h4>Days of the week</h4>
					</div>
				</div>

				<div id="hourRowChart">
						<h4>Usage by time of the day</h4>
				</div>

				<h4>Heat map</h4>

				<div id="calculations"></div>
				<div id="bc1"></div>
				<div id="bc2"></div>
				<div id="bc3"></div>
				<div id="bc4"></div>

				<div id="heatmap"></div>

				<div id="noHover">
					<div id="heatmapKey"></div>
				</div>

				<table id="a" width="100%">
					<thead>
			            <tr>
			                <th>Room - Equipment</th>
			                <th>Usage (kWh)</th>
			                <th>Percent of total usage (%)</th>
			                <th>Cost ($)</th>
			                <th>Hour</th>
			                <th>Day</th>
			            </tr>
			        </thead>
				</table>

				<div class="left" id="dir">
					<h3>Directions</h3>
					<!-- <p>Put directions text here</p> -->
				</div>
			</div>
		<script type="text/javascript" data-toggle="tooltip" title="hats" src="{{ url_for('static', filename='js/demo.js') }}"></script>
	  </div>
	</body>
</html>